:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: white;
  background: -webkit-linear-gradient(
    45deg,
    rgba(255, 0, 208, 1) 0%,
    rgba(193, 153, 255, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  margin-top: 150px;
}

button {
  border-radius: 20px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 208, 1) 0%,
    rgba(193, 153, 255, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  cursor: pointer;
  transition: box-shadow 0.5s;
}
button:hover {
  box-shadow: 0 0 1em 0.25em #646cff;
}

label {
  color: white;
  padding: 10px;
}

select {
  margin: 10px;
  background-color: #1a1a1a;
  color: white;
  font-family: inherit;
  font-size: 12pt;
  border: none;
  outline: none;
  cursor: pointer;
}

.language-selector {
  padding: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  padding: 50px;
}

@keyframes bouncingLoader {
  from {
    width: 0.1rem;
    height: 0.1rem;
    opacity: 1;
    transform: translate3d(0);
  }
  to {
    width: 1rem;
    height: 1rem;
    opacity: 0.1;
    transform: translate3d(0, -1rem, 0);
  }
}

.loader > span {
  background: #646cff;
  border-radius: 50%;
  margin: 5rem 0.5rem;
  animation: bouncingLoader 0.6s infinite alternate;
}

.loader > span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader > span:nth-child(3) {
  animation-delay: 0.4s;
}
